/* 컬러 변수 */
:root {
  --point-color1: #00a651;
  --point-color2: #8bc63f;
  --point-color3: #76ca9e;
  --txt-color-400: #666;
  --txt-color-500: #222;
  --txt-color-600: #000;
}

#wrap {
  height: 5000px;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: all 0.2s;
}
#header.fixed {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#header.fixed .logo a {
  background: url(../images/logo.svg) no-repeat left top / 100%;
}

/* gnb의 li의 바로 자식들 */
#header.fixed .gnb > li > a {
  color: var(--txt-color-600);
}
#header.fixed .lang_wrap .lang_btn {
  background: #f7f7f7;
  color: #000;
  border-color: #f7f7f7;
}
#header.fixed .lang_wrap .lang_btn::after {
  background: #000;
}

#header .inner {
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}
#header .logo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 115px;
}
#header .logo a {
  display: block;
  height: 52px;
  -webkit-mask: url(../images/logo.svg) no-repeat left top / 100%;
  mask: url(../images/logo.svg) no-repeat left top / 100%;
  background: #fff;
}

#header .gnb {
  display: flex;
}
#header .gnb > li {
  position: relative;
}
#header .gnb > li > a {
  display: block;
  line-height: 100px;
  padding: 0 50px;
  color: #fff;
  font-weight: 500;
}

/* 드롭다운 동작은 max-height사용 */
#header .gnb > li:hover .depth2 {
  max-height: 240px;
  padding: 20px 0;
}
#header .gnb .depth2 {
  position: absolute;
  left: 0;
  top: 100px;
  background: #50b779;
  text-align: center;
  border-radius: 0 30px 30px 30px;
  width: 100%;
  transition: all 0.2s;
  max-height: 0;
  overflow: hidden;
}
#header .gnb .depth2 li + li {
  margin-top: 15px;
}
#header .gnb .depth2 a {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

#header .lang_wrap {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
#header .lang_wrap .lang_btn {
  height: 34px;
  border: 1px solid #fff;
  border-radius: 17px;
  width: 82px;
  background: none;
  text-align: left;
  padding: 0 16px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 0 7px;
  transition: all 0.2s;
}
#header .lang_wrap .lang_btn::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 6px;
  -webkit-mask: url(../images/arrow_down.svg) no-repeat;
  mask: url(../images/arrow_down.svg) no-repeat;
  background: #fff;
  transition: all 0.2s;
}
#header .lang_wrap.on .lang_btn {
  background: #f7f7f7;
  color: var(--txt-color-600);
  border-radius: 17px 17px 0 0;
  border-color: #f7f7f7;
}
#header .lang_wrap.on .lang_btn::after {
  transform: rotate(180deg);
  background: #000;
}
#header .lang_wrap.on .lang {
  max-height: 80px;
}

#header .lang_wrap .lang {
  position: absolute;
  left: 0;
  top: 34px;
  background: #f7f7f7;
  width: 82px;
  border-radius: 0 0 17px 17px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;
}
#header .lang_wrap .lang a {
  display: block;
  font-size: 16px;
  color: var(--txt-color-400);
  padding: 0 16px;
  line-height: 40px;
}

#header .open_btn {
  display: none;
}

#header .m_gnb_wrap {
  display: none;
}

.main_slider {
  height: 970px;
  text-align: center;
  background: linear-gradient(90deg, #71aee8, #77e9ce);
  position: relative;
  overflow: hidden;
}
.main_slider .pc_img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  max-width: none;
}
.main_slider .m_img {
  display: none;
}

.main_slider .scroll_down {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 15px;
  color: #fff;
}
.main_slider .scroll_down .arrow_wrap {
  position: relative;
  margin-top: 5px;
}
.main_slider .scroll_down .arrow_wrap::before {
  content: '';
  display: block;
  width: 3px;
  height: 80px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0px auto;
  border-radius: 2px 2px 0 0;
}

/* translateX가 처음에 있으므로 이동시 고정시켜야함 */
@keyframes moveArrow {
  50% {
    transform: translate(-50%, 50px);
  }
}
.main_slider .scroll_down .arrow_wrap::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  animation: moveArrow 3s infinite ease-in-out;
  width: 15px;
  height: 30px;
  transform: translateX(-50%);
  background: url(../images/arrow_scroll.svg) no-repeat;
}

.main_business {
  padding: 160px 0;
}
.main_business .inner {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  gap: 0 120px;
}
.main_business .col {
  width: 50%;
}

.main_business .tit_wrap {
  margin-bottom: 190px;
}
.main_business .tit_wrap h2 {
  font-size: 44px;
  font-weight: 700;
  color: var(--txt-color-600);
  margin-bottom: 40px;
}
.main_business .tit_wrap p {
  font-size: 20px;
}

.main_business .business {
  border-radius: 40px;
  border: 1px solid #ddd;
  background: linear-gradient(#f8f8f8ff, #f8f8f800);
  text-align: center;
}
.main_business .business a {
  height: 610px;
  padding: 50px 20px 0;
  display: block;
}
.main_business .business .txt_wrap {
  text-align: left;
  margin-top: 44px;
}
.main_business .business .txt_wrap h3 {
  font-size: 32px;
  color: var(--point-color1);
  font-weight: 700;
}
.main_business .business .txt_wrap em {
  font-size: 20px;
  color: var(--point-color2);
  font-weight: 500;
  margin: 10px 0 20px;
  display: block;
}
.main_business .col:nth-child(2) .business + .business {
  margin-top: 80px;
}
.main_business .point1_btn {
  margin-top: 100px;
}

.main_business .m_more_btn {
  display: none;
}

.main_info {
  padding: 160px 0;
  background: #f8f8f8;
}
.main_info .inner {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}
.main_info h2 {
  font-size: 44px;
  color: var(--txt-color-600);
  font-weight: 700;
  margin-bottom: 40px;
}
.main_info .row {
  display: flex;
  gap: 0 80px;
}

.main_info .info_left {
  width: calc(100% - 400px);
  background: url(../images/bg_mc02_01.jpg) no-repeat 50% 50% / cover;
  padding: 80px 100px 60px;
  color: #fff;
  border-radius: 40px;
}

.main_info .info_left .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_info .info_left .top h3 {
  font-size: 32px;
  font-weight: 700;
}

.main_info .info_left .top .num {
  display: flex;
  align-items: center;
  gap: 0 70px;
}

.main_info .info_left .top .num strong {
  font-size: 60px;
  font-weight: 700;
}

.main_info .info_left .top .num span {
  font-size: 20px;
}

.main_info .info_left .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}

.main_info .info_left .bottom p {
  font-size: 16px;
}

.main_info .info_right {
  width: 320px;
}

.main_info .info_right a {
  padding: 40px;
  border-radius: 40px;
  display: block;
  /* fix */
  height: 330px;
  background: linear-gradient(45deg, #008a43, #64de9f);
  position: relative;
}

.main_info .info_right a::after {
  content: '';
  width: 110px;
  height: 120px;
  position: absolute;
  right: 40px;
  bottom: 40px;
  background: url(../images/bg_mc02_02.png) no-repeat 0 0 / 100%;
}

.main_info .info_right h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  position: relative;
  padding-bottom: 40px;
}

.main_info .info_right h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 20px;
  background: url(../images/arrow_more.svg) no-repeat 0 0 /100%;
}

.news_wrap {
  margin-top: 40px;
}

.news_wrap .news {
  display: flex;
}

.news_wrap .news > li {
  border: 1px solid #ddd;
  border-radius: 20px;
  background: #fff;
  margin-right: 20px;
  padding: 30px;
}

.news_wrap .news .txt {
  overflow: hidden;
  display: block;
  color: #222;
  margin-bottom: 20px;
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  display: -webkit-box; /* 웹킷 브라우저를 위한 표준 설정 */
  -webkit-line-clamp: 2; /* 2줄로 텍스트를 제한 */
  -webkit-box-orient: vertical; /* 수직 방향으로 설정 */
}

/* 메인슬라이더 분기점 */
@media (max-width: 1440px) {
  .main_slider {
    height: 700px;
  }
  .main_slider .pc_img {
    height: 108%;
  }
}

/* 테블릿 분기점 */
@media (max-width: 1200px) {
  #header .inner {
    height: 80px;
  }
  #header .logo {
    width: 100px;
  }
  #header .logo a {
    height: 45px;
  }
  #header .gnb {
    display: none;
  }

  #header.fixed .open_btn {
    background: #7fd1a6;
    border: none;
  }

  #header .lang_wrap {
    z-index: 10;
  }

  #header .open_btn {
    width: 34px;
    height: 34px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: none;
    /* 인라인블럭 사이는 4px간격이 있음(자간때문에) */
    margin-left: 16px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px 0;
  }
  #header .open_btn i {
    width: 14px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    transition: all 0.5s;
  }
  #header .open_btn.on {
    background: #7fd1a6;
    border: none;
  }
  #header .open_btn.on i:nth-of-type(1) {
    transform: translate(0px, 5px) rotate(135deg);
  }
  #header .open_btn.on i:nth-of-type(2) {
    transform: scaleX(0);
  }
  #header .open_btn.on i:nth-of-type(3) {
    transform: translate(0px, -5px) rotate(-135deg);
  }

  #header.on .lang_wrap .lang_btn {
    background: #f7f7f7;
    color: #000;
    border-color: #f7f7f7;
  }
  #header.on .lang_wrap .lang_btn::after {
    background: #000;
  }

  #header .m_gnb_wrap {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    height: 100%;
    padding-top: 70px;
    transition: all 0.5s;
    transform: translateX(100%);
    opacity: 0;
  }
  #header .m_gnb_wrap.on {
    transform: translateX(0);
    opacity: 1;
  }
  #header .scroll {
    /* 스크롤바가 나오려면 반드시 높이가 있어야함 */
    overflow: auto;
    height: 100%;
  }

  #header .m_gnb > li > a {
    line-height: 60px;
    display: block;
    padding: 0 15px;
    font-size: 20px;
    color: var(--txt-color-600);
    font-weight: 500;
    position: relative;
  }
  #header .m_gnb > li > a::before {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    width: 14px;
    height: 2px;
    margin-top: -1px;
    background: #000;
  }
  #header .m_gnb > li > a::after {
    content: '';
    position: absolute;
    right: 21px;
    top: 50%;
    width: 2px;
    height: 14px;
    margin-top: -7px;
    background: #000;
    transition: all 0.2s;
  }
  #header .m_gnb > li.on > a::after {
    width: 14px;
    height: 2px;
    background: var(--point-color1);
    right: 15px;
    margin-top: -1px;
  }

  #header .m_gnb > li.on .depth2 {
    max-height: 240px;
    padding: 20px;
  }
  #header .m_gnb .depth2 {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    background: #f8f8f8;
  }
  #header .m_gnb .depth2 a {
    font-size: 14px;
    color: #999;
    display: block;
    position: relative;
    padding-left: 13px;
    line-height: 40px;
  }
  #header .m_gnb .depth2 a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 4px;
    height: 4px;
    margin-top: -2px;
    background: #999;
    border-radius: 50%;
  }

  .main_slider {
    padding-top: 56.25%;
    height: 0;
  }
  .main_slider .scroll_down {
    display: none;
  }

  .main_business {
    padding: 100px 0;
  }
  .main_business .inner {
    gap: 0 30px;
  }
  .main_business .tit_wrap {
    margin-bottom: 130px;
  }
  .main_business .tit_wrap h2 {
    font-size: 38px;
    margin-bottom: 30px;
  }
  .main_business .tit_wrap p {
    font-size: 17px;
  }
  .main_business .tit_wrap p br {
    display: none;
  }

  .main_business .business a {
    height: auto;
    padding-bottom: 40px;
  }
  .main_business .business .txt_wrap {
    margin-top: 35px;
  }
  .main_business .business .txt_wrap h3 {
    font-size: 28px;
  }
  .main_business .business .txt_wrap em {
    font-size: 18px;
    margin: 10px 0 15px;
  }
  .main_business .business .txt_wrap p {
    font-size: 16px;
  }

  .main_business .point1_btn {
    margin-top: 70px;
    font-size: 16px;
  }

  .main_info {
    padding: 100px 0;
  }

  .main_info h2 {
    font-size: 38px;
    margin-bottom: 30px;
  }

  .main_info .row {
    flex-wrap: wrap;
    gap: 40px 0;
  }

  .main_info .info_left {
    width: 100%;
    padding: 25px 40px 30px;
  }

  .main_info .info_left .top h3 {
    font-size: 26px;
  }

  .main_info .info_left .top .num strong {
    font-size: 50px;
  }

  .main_info .info_left .bottom {
    margin-top: 40px;
  }

  .main_info .info_left .point2_btn {
    font-size: 16px;
  }
  .main_info .info_right {
    width: 100%;
  }
  .main_info .info_right a {
    height: auto;
  }
  .main_info .info_right h3 {
    font-size: 24px;
    padding-bottom: 54px;
  }

  .main_info .info_right a::after {
    top: 50%;
    transform: translateY(-50%);
    width: 90px;
    height: 100px;
  }
}

/* 모바일 분기점 */
@media (max-width: 767px) {
  #header .inner {
    height: 50px;
  }
  #header .logo {
    left: 15px;
    width: 60px;
  }
  #header .logo a {
    height: 28px;
  }

  #header .lang_wrap {
    right: 15px;
  }
  #header .lang_wrap .lang_btn {
    height: 24px;
    font-size: 13px;
    width: 61px;
    padding: 0 10px;
  }
  #header .lang_wrap.on .lang_btn {
    border-radius: 10px 10px 0 0;
  }
  #header .lang_wrap .lang {
    width: 61px;
    top: 24px;
    border-radius: 0 0 10px 10px;
  }
  #header .lang_wrap .lang a {
    padding: 0 10px;
    font-size: 13px;
    line-height: 30px;
  }

  #header .open_btn {
    width: 24px;
    height: 24px;
  }

  .main_slider {
    padding-top: 0;
    height: auto;
  }
  .main_slider .pc_img {
    display: none;
  }
  .main_slider .m_img {
    display: block;
  }

  .main_business {
    padding: 80px 0;
  }
  .main_business .inner {
    position: relative;
    padding: 0 15px 120px;
    flex-wrap: wrap;
  }
  .main_business .col {
    width: 100%;
  }

  .main_business .tit_wrap {
    margin-bottom: 30px;
  }
  .main_business .tit_wrap h2 {
    font-size: 33px;
  }
  .main_business .tit_wrap p {
    font-size: 15px;
  }

  .main_business .business_wrap {
    margin-bottom: 30px;
  }

  .main_business .business .txt_wrap h3 {
    font-size: 20px;
  }
  .main_business .business .txt_wrap em {
    font-size: 13px;
    margin: 0 0 15px;
  }
  .main_business .business .txt_wrap p {
    font-size: 14px;
  }

  .main_business .col:nth-child(2) .business + .business {
    margin-top: 30px;
  }

  .main_business .point1_btn {
    line-height: 50px;
    font-size: 15px;
  }
  .main_business .pc_more_btn {
    display: none;
  }
  .main_business .m_more_btn {
    display: inline-flex;
  }

  .main_info {
    padding: 80px 0;
  }

  .main_info .inner {
    padding: 0 15px;
  }

  .main_info h2 {
    font-size: 33px;
  }

  .main_info .row {
    gap: 20px 0;
  }

  .main_info .info_left {
    border-radius: 20px;
    padding: 20px;
  }

  .main_info .info_left .top {
    flex-direction: column;
    align-items: start;
  }

  .main_info .info_left .top h3 {
    font-size: 20px;
  }

  .main_info .info_left .top .num strong {
    font-size: 40px;
  }

  .main_info .info_left .top .num span {
    font-size: 15px;
  }

  .main_info .info_left .bottom p {
    font-size: 13px;
  }

  .main_info .info_left .point2_btn {
    width: 100px;
    line-height: 30px;
    font-size: 11px;
    padding: 0 10px;
    justify-content: space-between;
  }

  .main_info .info_left .point2_btn::after {
    margin-left: 15px;
    width: 10px;
    height: 6px;
  }

  .main_info .info_right a {
    border-radius: 20px;
    padding: 20px;
    height: 200px;
  }

  .main_info .info_right h3 {
    font-size: 20px;
    padding-bottom: 40px;
  }

  .main_info .info_right h3::after {
    width: 30px;
    height: 15px;
  }

  .main_info .info_right a::after {
    top: auto;
    bottom: 30px;
    right: 20px;
    transform: translateY(0);
  }
}
