/* 컬러 변수 */
:root {
  --point-color1: #0b56a7;
  --point-color2: #909ca3;
  --point-color3: #9c9c9c;
  --txt-color-400: #666;
  --txt-color-500: #222;
  --txt-color-600: #000;
}

/* #wrap {
  height: 5000px;
} */

#header {
  /* 헤더 고정 */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /* 제일 위에 띄우기 */
  z-index: 9999;
}

#header .inner {
  max-width: 1600px;
  height: 98px;
  margin: 0 auto;
  padding: 38px 0px 34px;
  position: relative;
  display: flex;
}

#header .inner .logo {
  width: 170px;
  height: 24px;
  background: url(../images/logo_white_01.png) no-repeat;
  line-height: 300px;
}

#header.on {
  background: #fff;
}

#header.on .inner .logo {
  width: 170px;
  height: 24px;
  background: url(../images/logo_blue_01.png) no-repeat;
  line-height: 300px;
}

#header.on .inner .gnb li > a {
  color: #000;
}

#header .inner .gnb {
  display: flex;
  margin-left: 90px;
}

#header .inner .gnb li {
  margin-right: 50px;
  height: 60px;
  position: relative;
}

#header .inner .gnb > li > a {
  color: #fff;
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

#header .inner .gnb > li > a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  background: var(--point-color1);
  display: none;
}

#header .gnb > li > a:hover::after {
  display: block;
}

#header .header_icon_wrap {
  position: absolute;
  right: 0px;
  top: 52%;
  transform: translateY(-50%);
  display: flex;
}

#header .header_icon_wrap .lang_btn {
  width: 25px;
  height: 25px;
  background: url(../images/btn_language_white_01.png) no-repeat 0 0 /100%;
  /* 버튼 테두리 없애기 */
  border: none;
  position: relative;
  margin-right: 30px;
}

#header.on .header_icon_wrap .lang_btn {
  background: url(../images/btn_language_black_01.png) no-repeat 0 0 /100%;
}

#header .header_icon_wrap .lang_btn::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -19px;
  width: 8px;
  height: 4px;
  margin-top: -2px;
  -webkit-mask: url(../images/icon_arrow_down01@2x.png) no-repeat 0 0 / 100%;
  mask: url(../images/icon_arrow_down01@2x.png) no-repeat 0 0 / 100%;
  background: #fff;
}

#header.on .header_icon_wrap .lang_btn::before {
  background: #000;
}

#header .header_icon_wrap .menu_btn {
  height: 25px;
  width: 25px;
  background: none;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  border: none;
  gap: 8px 0;
}

#header .header_icon_wrap .menu_btn i:nth-of-type(1) {
  /* margin-left: 7.5px; */
  width: 17.5px;
  height: 3px;
  background: #fff;
}

#header .header_icon_wrap .menu_btn i:nth-of-type(2) {
  /* margin-left: 2.5px; */
  width: 22.5px;
  height: 3px;
  background: #fff;
}

#header .header_icon_wrap .menu_btn i:nth-of-type(3) {
  width: 25px;
  height: 3px;
  background: #fff;
  position: relative;
}

#header.on .header_icon_wrap .menu_btn i {
  background: #000;
}

#container .main_slider {
  overflow: hidden;
}

#container .main_slider .youtube_wrap .txt_wrap p:nth-of-type(3):after {
  content: '';
  position: absolute;
  top: 242px;
  left: 270px;
  width: calc(100% - 270px);
  height: 1px;
  display: block;
  background-color: #fff;
}

#header .inner_bottom .gnb_wrap {
  display: flex;
  width: 77%;
  height: 237px;
  margin: 0 auto;
  justify-content: space-between;
}

#header .inner_bottom .gnb {
  display: flex;
}
#header .inner_bottom .gnb > li {
  position: relative;
}

#header .inner_bottom {
  width: 100%;
  height: 330px;
  background: #fff;
  display: none;
  padding: 48px 0px 60px;
}

#header .inner_bottom.on {
  display: block;
}

#header .inner_bottom img {
  /* margin-left: 10%; */
}

#header .inner_bottom .gnb_wrap .gnb > li > a {
  display: block;
  font-size: 22px;
  width: 141.38px;
  height: 32px;
  color: #000;
  font-weight: 600;
  line-height: 28px;
}

#header .inner_bottom .gnb_wrap .gnb > li:not(:last-child) {
  margin: 0 7px 0 0;
}

#header .inner_bottom .gnb_wrap .gnb .depth2 {
  padding-top: 24px;
}

#header .inner_bottom .gnb_wrap .gnb .depth2 li {
  line-height: 30px;
  position: relative;
}

#header .inner_bottom .gnb_wrap .gnb .depth2 li::after {
  content: '';
  position: absolute;
  /* li앞쪽에 동그라미 배치 */
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px; /* 원의 너비 */
  height: 10px; /* 원의 높이 */
  border-radius: 50%; /* 원 모양 만들기 */
  background-color: var(--point-color1);
  display: none;
}

#header .inner_bottom .gnb_wrap .gnb .depth2 li:hover::after {
  display: block;
}

#header .inner_bottom .gnb_wrap .gnb .depth2 li:hover > a {
  color: var(--point-color1);
}

#header .m_gnb_wrap {
  display: none;
}

.main_slider .youtube_wrap {
  position: relative;
  height: 1080px;
}

.main_slider .youtube_wrap iframe {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-150px);
}

#container .main_slider .youtube_wrap .txt_wrap {
  position: absolute;
  top: 448px;
  left: 50%;
  width: 1400px;
  margin-left: -700px;
}

#container .main_slider .youtube_wrap .txt_wrap p {
  display: block;
  color: #fff;
  font-size: 70px;
  line-height: 85px;
  text-align: left;
  font-weight: 700;
}

#container .main_slider .youtube_wrap .txt_wrap .introduction_btn {
  display: block;
  position: absolute;
  bottom: 17px;
  right: -55px;
  transform: translateX(-50%);
  background: none;
  border: none;
}

.main_slider .youtube_wrap .txt_wrap .introduction_btn > a {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  align-content: space-around;
}

.main_slider .youtube_wrap .txt_wrap .introduction_btn > a > img {
  margin: 9px 0 0 12px;
}

/* 메인 비즈니스 */
.main_business .inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 170px 20px 90px 20px;
}

.main_business .inner .tit_wrap h2 {
  position: relative;
  font-size: 24px;
  color: var(--txt-color-600);
  font-weight: 700;
}

.main_business .inner .tit_wrap h2::after {
  content: '';
  display: block;
  width: 130px;
  height: 1px;
  position: absolute;
  bottom: 5px;
  left: 92px;
  background-color: var(--point-color3);
}

.main_business .inner .tit_wrap p {
  margin-top: 45px;
  font-size: 48px;
  line-height: 65px;
  display: block;
  font-weight: 700;
}

/* 메인 비즈니스 슬라이더 */

.horizontal_slider_wrap {
  width: 100%;
  margin-top: 70px;
}

.horizontal_slider {
  height: 410px;
  box-sizing: border-box;
}
.horizontal_slider:after {
  content: '';
  display: table;
  clear: both;
}
.horizontal_slider li {
  position: relative;
  float: left;
  padding: 35px 40px;
  width: calc(100% / 5);
  height: 100%;
  transition: all 0.3s;
  cursor: pointer;
  box-sizing: border-box;
}

.horizontal_slider li.default {
  width: calc((100% - 395px) / 4);
}

/* 메인 수평 슬라이더 url*/
.horizontal_slider li.list1 {
  background: url(../images/busi_con01.png) no-repeat 50% 50% / cover;
}
.horizontal_slider li.list2 {
  background: url(../images/busi_con02.png) no-repeat 50% 50% / cover;
}
.horizontal_slider li.list3 {
  background: url(../images/busi_con03.png) no-repeat 50% 50% / cover;
}
.horizontal_slider li.list4 {
  background: url(../images/busi_con04.png) no-repeat 50% 50% / cover;
}
.horizontal_slider li.list5 {
  background: url(../images/busi_con05.png) no-repeat 50% 50% / cover;
}

.horizontal_slider li .t_txt {
  position: relative;
  padding-bottom: 22px;
  color: #fff;
  font-size: 22px;
  line-height: 1.5;
  font-weight: normal;
}
.horizontal_slider li .t_txt:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.3s;
}
.horizontal_slider li .s_txt {
  opacity: 0;
  margin-top: 35px;
  width: 100%;
  color: #fff;
  font-size: 15px;
  line-height: 1.8;
}
.horizontal_slider li img {
  position: absolute;
  left: 40px;
  bottom: 40px;
  opacity: 1;
  transition: all 0.3s;
}
/* class on 추가됐을 때 css*/
.horizontal_slider li.on {
  width: 395px;
}

.horizontal_slider li.on .s_txt {
  opacity: 1;
}

/* 메인 PR ROOM */
.main_pr {
  background: #fafaf9;
}

.main_pr .inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 20px 80px 20px;
}

.main_pr .inner .tit_wrap h2 {
  position: relative;
  font-size: 24px;
  color: var(--txt-color-600);
  font-weight: 700;
}

.main_pr .inner .tit_wrap h2::after {
  content: '';
  display: block;
  width: 130px;
  height: 1px;
  position: absolute;
  bottom: 5px;
  left: 120px;
  background-color: var(--point-color3);
}

.main_pr .inner .tit_wrap p {
  margin-top: 45px;
  font-size: 48px;
  line-height: 65px;
  display: block;
  font-weight: 700;
}

.main_pr .inner .contents_wrap {
  margin-top: 70px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
}

.main_pr .inner .contents_wrap .content1,
.main_pr .inner .contents_wrap .content2,
.main_pr .inner .contents_wrap .content3 {
  width: 32%;
}

.contents_wrap .content1:hover img,
.contents_wrap .content2:hover img,
.contents_wrap .content3:hover img {
  filter: brightness(0.7); /* 이미지의 밝기를 줄여 어둡게 만듭니다. */
  transition: filter 0.3s; /* 부드러운 트랜지션을 위해 transition을 추가합니다. */
}

.contents_wrap .content1 {
  position: relative;
}

.contents_wrap .content1 span {
  position: absolute;
  font-weight: 700;
  font-size: 26px;
  display: block;
  line-height: 60px;
  top: 50px;
  left: 50px;
  color: #fff;
  z-index: 80;
}

.contents_wrap .content2 {
  position: relative;
}

.contents_wrap .content2 span {
  position: absolute;
  font-weight: 700;
  font-size: 26px;
  display: block;
  line-height: 60px;
  top: 50px;
  left: 50px;
  color: #fff;
  z-index: 80;
}

.contents_wrap .content3 {
  position: relative;
}

.contents_wrap .content3 span {
  position: absolute;
  font-weight: 700;
  font-size: 26px;
  display: block;
  line-height: 60px;
  top: 50px;
  left: 50px;
  color: #fff;
  z-index: 80;
}

/*  */

/* 지속 가능 경영 */

.main_manage {
  background: #f3f3f3;
}

.main_manage .inner .tit_wrap {
  max-width: 1400px;
  padding-top: 80px;
  margin: 0 auto;
  padding: 80px 20px 20px 20px;
}

.main_manage .inner .tit_wrap h2 {
  position: relative;
  font-size: 24px;
  color: var(--txt-color-600);
  font-weight: 700;
}

.main_manage .inner .tit_wrap h2::after {
  content: '';
  display: block;
  width: 130px;
  height: 1px;
  position: absolute;
  bottom: 5px;
  left: 120px;
  background-color: var(--point-color3);
}

.main_manage .inner .tit_wrap p {
  margin-top: 45px;
  font-size: 48px;
  line-height: 65px;
  display: block;
  font-weight: 700;
}

.main_manage .swiper {
  /* a태그가 위로 이동하므로 공간 확보 */
  padding: 160px 0 30px;
}

.main_manage .swiper-slide {
  width: 600px;
}

.main_manage .swiper-slide a {
  display: block;
  width: 100%;
  height: 368px;
  margin: 0 auto;
  transition: all 0.1s;
}

.main_manage .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_manage .swiper-slide-active a {
  transform: translateY(-120px);
}

.main_manage .swiper-pagination {
  margin-left: 180px;
}

.main_manage .swiper-pagination .swiper-pagination-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #545454;
  position: relative;
  transform: translateY(-100px);
  margin-right: 32px;
}

.main_manage .swiper-pagination .swiper-pagination-bullet-active:before {
  content: '';
  width: 30px;
  height: 30px;
  border: 2px solid #545454;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#footer {
  width: 100%;
  height: 655px;
  background: url(../images/footer_bg_.png) no-repeat center bottom / cover;
  padding-top: 116px;
}

#footer .inner {
  margin: 0 auto;
  max-width: 1600px;
  height: 262px;
  display: flex;
  justify-content: space-between;
}

#footer .f_gnb {
  display: flex;
}

#footer .f_gnb > li {
  position: relative;
  margin-right: 140px;
}

#footer .f_gnb > li > a {
  display: block;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 38px;
}

#footer .f_gnb .f_depth2 > li > a {
  color: #fff;
  font-size: 18px;
  line-height: 34px;
  opacity: 0.7;
}

#footer .f_gnb .f_depth2 > li > a:hover {
  opacity: 1;
  transition: all 0.3s;
}

#footer .family_wrap {
  width: 286px;
}

#footer .family_wrap .family_btn {
  width: 100%;
  height: 50px;
  background: transparent;
  font-weight: 200;
  font-size: 18px;
  border: 1px solid #fff;
  color: #fff;
  text-align: start;
  justify-content: space-between;
  padding: 4px 19px 0 14px;
  display: flex;
  align-items: center;
}

#footer .family_wrap .family_btn > a {
  display: block;
  width: 12px;
  height: 8px;
}

#footer .family_wrap .family li {
  display: none;
}

#footer .family_wrap.on .family li {
  background-color: yellow;
  display: block;
}

#footer .family_wrap .policy {
  text-align: end;
  margin-top: 28px;
}

#footer .family_wrap.on .policy {
  display: none;
}

#footer .family_wrap .policy a {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  margin-left: 15px;
}

#footer .family_wrap.on .sns {
  margin: 1px 10px 0 0;
}

#footer .family_wrap .sns {
  display: flex;
  justify-content: end;
  margin: 126px 10px 0 0;
}

#footer .family_wrap .sns a {
  opacity: 0.6;
  width: 36px;
  height: 36px;
  background: var(--point-color2);
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer .family_wrap .sns:hover a {
  opacity: 1;
  transition: all 0.3s;
}

#footer .copyright {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 30px;
  margin-top: 70px;
  display: block;
  text-align: center;
}

#footer .copyright p {
  color: #fff;
  font-weight: 200;
  font-size: 14px;
  line-height: 36px;
}

/* 메인슬라이더 분기점 */
@media (max-width: 1440px) {
  #header .inner {
    margin: 0 50px;
  }
}

/* 태블릿 분기점 */
@media (max-width: 1200px) {
  #header .inner {
    margin: 0 40px;
  }

  #header .inner .gnb > li > a {
    display: none;
  }

  #header .inner_bottom.on {
    display: none;
  }

  #header .m_gnb_wrap.on {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    width: 76%;
    background: #fff;
    height: 100%;
    padding: 30px 11.3%;
    opacity: 1;
  }

  #header .m_gnb_wrap.on .m_title_left img {
    width: 28px;
    height: 28px;
  }

  #header .m_gnb_wrap.on .m_title_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  #header .m_gnb_wrap.on .m_title_left {
    display: flex;
    align-items: center;
  }

  #header .m_gnb_wrap.on .m_title_left .m_lang_btn button {
    padding: 0px 4px;
    margin: 0 0 0 8px;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
  }

  #header .m_gnb_wrap.on .close_btn {
    width: 28px;
    height: 28px;
    display: block;
    border: none;
    background: url(../images/btn_close_black02.svg) no-repeat center center;
  }

  #header .m_gnb_wrap.on .m_gnb {
    margin-top: 70px;
  }

  #header .m_gnb_wrap.on .m_gnb > li > a {
    font-size: 21px;
    font-weight: 700;
    display: block;
    line-height: 126%;
    margin-bottom: 30px;
    position: relative;
  }

  #header .m_gnb_wrap.on .m_gnb > li > a::after {
    content: '';
    position: absolute;
    display: block;
    right: 16px;
    top: 50%;
    width: 12px;
    height: 7px;
    transform: translateY(-50%);
    background: url(../images/arrow_down_black_01.svg) center center no-repeat;
    background-size: contain;
    transition: all 0.5s;
  }

  #header .m_gnb_wrap.on .m_gnb > li.on > a::after {
    transition: all 0.5s;
    transform: rotate(180deg);
  }

  #header .m_gnb_wrap.on .m_gnb .depth2 {
    margin: 30px 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }

  #header .m_gnb_wrap.on .m_gnb > li.on .depth2 {
    max-height: 240px;
    display: block;
  }

  #header .m_gnb_wrap.on .m_gnb .depth2 > li > a {
    display: block;
    padding: 4px 0 18px 20px;
  }

  #header .m_gnb_wrap.on img {
    width: 100%;
  }
}

/* 모바일 분기점 */
@media (max-width: 767px) {
  .main_business {
    padding-top: 86px;
    padding-bottom: 500px;
  }

  .main_business .inner .tit_wrap h2 {
    font-size: 12px;
    line-height: 156%;
  }

  .main_business .inner .tit_wrap p {
    font-size: 22px;
  }
  .horizontal_slider {
    position: relative;
  }
  .horizontal_slider li {
    width: calc(100% / 2);
    height: 300px;
    flex-wrap: wrap;
  }

  .horizontal_slider li:hover {
    filter: brightness(0.7);
    transition: filter 0.3s;
  }
}
