/* 컬러 변수 */
:root {
  --point-color1: #ffb300;
  --point-color2: #32a13c;
  --txt-color-400: #999;
  --txt-color-500: #666;
  --txt-color-600: #292929;
}

#wrap {
  height: 2000px;
}

/* margin 
- 바깥 여백이며 요소를 이동할 때 사용 간격 줄 때 사용
- 음수 가능
- margin: 0 auto; 크기가 정해져있는 블럭요소를 가운데 정렬 
- margin: 위 오른쪽 아래 왼쪽
- margin: 위 좌우 아래 
- margin: 위아래 좌우
- margin: 모두(거의 사용 x) */

/* 마진 병합 
 - 부모와 자식요소가 수직방향으로 인접할 경우 부모 또는 자식의 margin-top중 큰값으로 병합되어 가장 바깥 조상요소에 적용됨
 - 띄우는 속성(flex, position)이 적용되면 떠있으므로 인접이 아니며 마진병합이 없음 */
#header {
  width: 1200px;
  height: 150px;
  background: yellowgreen;
  /* margin-left: -500px;
  margin-top: 100px; */
  margin: 0 auto;
  /* 마진 병합일 경우 바깥쪽에서 패딩으로 요소를 밀어줌 */
  padding-top: 40px;
  position: relative;
}

#header .logo {
  margin-top: 30px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 70px;
  border: 2px solid red;
}

.main_etc {
  width: 1200px;
  height: 400px;
  border: 5px solid red;
  margin: 0 auto 100px;
}

.main_etc2 {
  width: 1200px;
  height: 400px;
  border: 5px solid black;
  margin: 100px auto 0;
}

.main_etc2 .list {
  display: flex;
}

/* 패딩: 안쪽 여백이며 내용을 안으로 밀어넣을 때 사용
- 병합 개념이 없으며 마진 순서와 동일하다 */
.main_etc2 .list li {
  border: 2px solid black;
  width: 25%;
  padding: 20px 40px 0;
}

/* li + li -> 첫번째 형제 요소를 제외한 나머지 형제 선택 */
.main_etc2 .list li + li {
  margin-left: 30px;
}
