.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 0 5px;
}

.pagination button {
  height: 30px;
  padding: 0 10px;
  border: 1px solid #666;
}

.pagination .num_btn.active {
  background: #333;
  color: #fff;
}
