/* 컬러 변수 */
:root {
  --point-color1: #f59ec4;
  --point-color2: #c7b19b;
  --txt-color-400: #999;
  --txt-color-500: #333;
  --txt-color-600: #222;
}

#wrap {
  /* min-width: 최소 너비를 지정하여 화면이 작아지더라도 짤림 방지  */
  /* 반응형이거나 아니거나의 차이는 min-width를 거냐 안거냐 */
  min-width: 1280px;
  height: 1500px;
}

.main_slider {
  border: 10px solid black;
  /* 포지션 앱솔의 기준(부모) */
  position: relative;
  /* 부모안의 모든 요소가 포지션 앱솔이면 부모의 높이를 무조건 잡아야함 높이를 잡고 오버플로우 히든을 하면 안에있는 이미지가 크기에 맞게 들어가네*/
  height: 810px;
  overflow: hidden;
}

.main_slider a {
  position: absolute;
  left: 50%;
  top: 0;
  /* 자신의 크기 기준으로 왼쪽으로 이동 */
  transform: translateX(-50%);
}

.main_slider img {
  /*  스크롤 줄였을 시 이미지 사이즈 줄어들지 않게 할라고 적용 */
  max-width: none;
}

.main_slider .inner {
  border: 5px solid red;
  /* 포지션 겹칠 시 맨 앞으로 빼는 방법 */
  /* 포지션 앱솔이면 크기가 내용만큼 줄어든다 */
  position: absolute;
  /* 포지션 좌표값 에서 양수면 기준 안으로 음수면 기준 밖으로 벗어남*/
  left: 50%;
  bottom: 178px;
  /* 가운데로 이동 */
  transform: translateX(-50%);
  width: 1100px;
  padding-left: 60px;
}

/* 클래스 네이밍 방식: 의미_형태_순서 */
.main_slider .arrow_btn {
  width: 60px;
  height: 60px;
  border: none;
  background: url(images/btn_slide_arrow.png) no-repeat;
  margin-right: 6px;
}

/* 호버로 배경위치 변경 */
.main_slider .arrow_btn:hover {
  background-position-y: -60px;
}

.main_slider .preview_btn {
  /* 화살표 방향 회전 */
  transform: rotateZ(180deg);
}
