/* 컬러 변수 */
:root {
  --point-color1: #00a5e5;
  --point-color2: #907354;
  --txt-color-400: #9e9e9e;
  --txt-color-500: #666;
  --txt-color-600: #000;
}
#wrap {
  height: 2500px;
}

.main_newsroom {
  padding-top: 70px;
}

.main_newsroom .inner {
  max-width: 1200px;
  padding: 0 25px 100px;
  margin: 0 auto;
  position: relative;
}

.main_newsroom .inner::after {
  content: '';
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 0;
  height: 1px;
  background: #e7e7e7;
}

/* 메인 제목 */
.main_tit {
  font-size: 48px;
  color: #101010;
  font-weight: 700;
}

.main_newsroom .newsroom {
  display: flex;
  gap: 0 30px;
  margin-top: 85px;
}

.main_newsroom .newsroom .li {
  width: calc(100% / 3);
}

/* 부모인 li의 가로 기준 16:9 = 100:x  (x = 56.25%) */
.main_newsroom .newsroom .img_wrap {
  border: 1px solid black;
  padding-top: 56.25%;
  position: relative;
}

.main_newsroom .newsroom .img_wrap img,
.main_newsroom .newsroom .img_wrap iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

/* aspect-ratio로 높이 16:9 만들기 */
/* ios 사파리 15이상에서만 가능하므로 아직은 사용할 수 없다 */
/* .main_newsroom .newsroom .img_wrap {
  aspect-ratio: 16 / 9;
} */

/* 인라인 블럭 하단에 간격 발생 시 기준선을 위로 맞춤 */
/* .main_newsroom .newsroom .img_wrap img,
.main_newsroom .newsroom .img_wrap iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
} */

.main_newsroom .newsroom .txt_wrap {
  padding-top: 23px;
}

.main_newsroom .newsroom .txt_wrap .category span {
  color: var(--txt-color-400);
  font-size: 14px;
}

.main_newsroom .newsroom .txt_wrap .category span + span {
  margin-left: 7px;
  padding-left: 9px;
  position: relative;
}

.main_newsroom .newsroom .txt_wrap .category span + span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 1px;
  height: 12px;
  background: #eee;
}

.main_newsroom .newsroom .tit {
  color: var(--txt-color-600);
  font-size: 22px;
  line-height: 1.4;
  /* 말줄임 기호 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: 10px;
  transition: all 0.25s;
}

.main_newsroom .newsroom .tit:hover {
  color: var(--point-color1);
}

/* 더보기 버튼은 위에 있더라도 탭키 이동 순서에 따라 마지막에 넣어줌 */
.main_newsroom .more_btn {
  position: absolute;
  right: 0;
  top: 40px;
  color: var(--txt-color-600);
  font-size: 20px;
}

.main_newsroom .more_btn::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../images/svgexport-10.svg) no-repeat left top / 100%;
  margin-left: 15px;
}

.main_etc {
  padding: 100px 0 200px;
}

.main_etc .inner {
  max-width: 1250px;
  padding: 0 25px;
  margin: 0 auto;
  height: 400px;
  background: #ddd;
}

/* footer */
#footer .footer_top {
  border-top: 1px solid rgba(165, 168, 168, 0.3);
  border-bottom: 1px solid rgba(165, 168, 168, 0.3);
  position: relative;
}

#footer .footer_top .inner {
  max-width: 1250px;
  padding: 0 25px;
  margin: 0 auto;
  height: 170px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  position: relative;
}

#footer .footer_top .footer_link {
  margin-left: 35px;
  display: flex;
  gap: 0 20px;
}

#footer .footer_top .footer_link a {
  font-size: 16px;
}

#footer .footer_top .footer_link a:hover {
  color: var(--point-color1);
}

#footer .footer_top .sns_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 37px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 0 30px;
}

#footer .footer_top .sns_wrap h3 {
  font-size: 15px;
  color: var(--point-color1);
}

#footer .footer_top .sns_wrap .sns {
  display: flex;
  gap: 0 24px;
}

#footer .footer_top .sns_wrap .sns a {
  width: 64px;
  height: 64px;
  -webkit-mask: url(../images/svgexport-13.svg) no-repeat;
  mask: url(../images/svgexport-13.svg) no-repeat;
  background: #4b5151;
}

#footer .footer_top .sns_wrap .sns a:nth-child(2) {
  -webkit-mask: url(../images/svgexport-14.svg) no-repeat;
  mask: url(../images/svgexport-14.svg) no-repeat;
  background: #4b5151;
}

#footer .footer_top .sns_wrap .sns a:hover {
  background: #de0808;
}

#footer .footer_top .sns_wrap .sns a:nth-child(2):hover {
  background: linear-gradient(0deg, #fb7333, #ec158e);
}

#footer .footer_top .the_sharp {
  position: absolute;
  /* 포지션 요소는 left, right로 가로 길이 지정 가능, 기준에 높이가 없어도 height:100%가능 */
  /* right: 0; */
  /* left: 50%; */
  left: calc(50% + 383px);
  width: 50%;
  top: 0;
  height: 100%;
  background: #001241 url(../images/SHARP.svg) no-repeat center center;
}

/* 태블릿 분기전 */
@media (max-width: 1200px) {
  .main_tit {
    font-size: 30px;
  }

  .main_newsroom .newsroom {
    margin-top: 20px;
    gap: 0 15px;
  }

  .main_newsroom .newsroom .more_btn {
    font-size: 18px;
    top: 20px;
  }

  .main_newsroom .newsroom .more_btn::after {
    margin-left: 10px;
  }
}

/* 모바일 분기점 */
@media (max-width: 767px) {
  .main_newsroom {
    padding-top: 48px;
  }

  .main_newsroom .inner {
    padding-bottom: 48px;
  }

  .main_newsroom .newsroom {
    flex-wrap: wrap;
    gap: 32px 0;
  }

  .main_newsroom .newsroom li {
    width: 100%;
  }
}
