.app {
  padding: 20px 20px 50px;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid #ddd;
}
.header .gnb {
  display: flex;
}
.header .gnb > li {
  padding: 0 30px;
}
.header .gnb > li > a {
  display: block;
  line-height: 80px;
  font-size: 20px;
}
