/* 컬러 변수 */
:root {
  --point-color1: #ffb300;
  --point-color2: #32a13c;
  --txt-color-400: #999;
  --txt-color-500: #666;
  --txt-color-600: #292929;
}

.main_etc h2 {
  color: var();
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.main_etc p strong {
  color: var(--txt-color-600);
}

.main_news {
  height: 300px;
}

/* a태그를 변경하려면 반드시 a로 적어줘야함 */
/* 안그러면 브라우저에서 바꾼 값으로 들어감 */
.main_news a {
  border: 2px solid red;
  color: red;
}

.main_news textarea {
  width: 300px;
  font-size: 20px;
}
